@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

#bloc_page
{
  max-width: 1350px;
  margin: auto;
}

body {
  font-family: "raleway", sans-serif;
  margin:0 ;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  margin: 0 auto;
}
/*Le logo*/
.headerNavList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 414px;
  margin-right: 0.5em;
  padding: 0;
  font-weight: 600;
  list-style: none;
}
/*Les liens de navigation*/
.headerNavLink {
  border-top: 3px  transparent;
  border-bottom: 3px  transparent;
  padding: 0.9em 1.5em 1em 1em;
  text-decoration: none;  
  text-align: center;
  color: black;
  transition-duration: 0.1s;
}
.headerNavLink[data-active=true] {
  color: #0065FC;
}
.headerNavLink2 {
  padding-left: 1.5em;
  color: #0065FC;
  text-decoration: none;
}
.headerNavLink:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}
/* Adaptation responsive Tablette*/
@media screen and (max-width: 1400px)  {
  .header {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
  .headerNavList {
    display: inline block;
    max-width: 100%;
    padding-bottom: 0;
    border-bottom: 3px solid #F2F2F2; 
  }
  .headerNavList li {
    min-width: 50%;
    position: relative;
  }
  .headerNavLink { 
    display:flex;
    justify-content: center;
    
    margin-bottom: -0.2em;
    
  }
  .headerNavLink[data-active=true] {
    border-bottom-color: #0065FC;
  }
  .headerNavLink:hover {
    border-top: none;
    border-bottom: 3px solid;
  }
  .headerImg {
    width: 100px;
    margin-left: 1.2em;
    margin-top: 1em;
  }
  .headerNavLink2 {
    display:flex;
    justify-content: flex-end;
    text-decoration: none;
  } 
  .li3 {
    max-width: 90px;
    position: absolute;
    top: -43px;
    right: 12.9em;
  }
}
/*iphone5*/
@media screen and (max-width: 350px) {
  body {
    max-width: 320px;
  }
  .searchInput {
    max-width: 180px;
  }
  .li3 {
    max-width: 90px;
    position: absolute;
    top: -43px;
    right: 11.2em;
  }
  
}
/*main*/
.main {
  max-width: 1350px;
  margin: 0 auto;
}
/*Barre de recherche*/
.search h1 {
  margin-bottom: -0.2em;
  font-size: 24px ;
  font-weight: 800;
}
.search p {
  font-weight: 100;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.searchForm {
  text-align: center;
}
.iconSearch {
  margin-left: 0.1em;
  padding: 1em 1.25em;
  border-radius: 1em 0 0 1em;
  background-color: #F2F2F2;
}
.searchMini {
  display: none;
}
.searchInput::placeholder {
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}
.searchInput {
  box-sizing: border-box;
  width: 235px;
  border-top: #F2F2F2 1px solid;
  border-right: none;
  border-bottom: #F2F2F2 1px solid;
  border-left: none;
  padding: 0 1.5em;
  font-size: 1em;
  font-weight: bold;
  color: black;
}
.searchFormSubmitinput {
  border: none;
  border-radius: 0 1em 1em 0;
  padding: 0 1.5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #0065FC;
}
.searchFiltersFilter:hover {
  transform: scale(1.02);
  background-color: #DEEBFF;
}
@media screen and (max-width: 1400px)  {
  .search {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 500px) {
  .searchForm {
    
    margin-top: 1em;
    margin-left: 1.2em;
  }
  .searchFormSubmitinputText {
    display: none;
  }
  .searchMini {
    display:block;
  }
  .search {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .search h1 {
    
    margin-left: 0.8em;
    font-weight: 700;
  }
  .search p {
    margin-left: 1.2em;
    font-size: 16px;
  }
  .searchFormSubmitinput {
    border-radius: 1em 1em 1em 1em;
    padding: 0 1em 0 1em;
  }
}
/*Filtres*/
.searchFilters {
  display:flex;
}
.searchFiltersA {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.searchFiltersTitle {
  margin: 3em 2em 0 0;
  font-size: 1em;
  font-weight: 800;
}
.searchFiltersFilter {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-left: none;
  border-radius: 2em;
  height: 3em;
  margin-right: 1.8em;
  padding: 0 1em 0 0em;
  font-size: 1em;
  font-weight: 800;
  cursor:pointer;
}
.searchFiltersFilter:last-child {
  margin-right: 0;
}
.IconFilter {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 2em;
  min-height: 3.25em;
  border-radius: 100%;
  margin: 0 0.5em 0 0;
  background-color: #DEEBFF;
  color: blue;
}
.searchResult {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}
.searchResultIcon {
  border : solid 1px #d9d9d9;
  border-radius: 100%;
  margin-right: 0.7em;
  padding: 0.2em 0.6em 0.2em 0.6em;
  color: #0065FC;
}
/* Adaptation responsive Tablette*/
@media screen and (max-width: 900px)  {
  .searchFiltersFilter {
  margin-bottom: 1em;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 500px) {
  .searchFilters {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1em;
    padding-left: 1.2em;
  }
  .searchFiltersFilter { 
    margin-right: 1em;
    padding-right: 1em;
  }
  .searchFiltersTitle {
    margin-bottom: -1em;
  }
  .searchResult {
    margin-top: 0;
  }
  .searchResultText {
    margin: 1em 0 1em 0;
  }
  .searchResultIcon {
    margin: -1.5em -0.3em 0 1.2em;
  }
}
  /*hébergements*/
.hostingAside {
  display: grid;
  column-gap: 2em;
  grid-template-columns: 6fr 3fr;
  width: 100%;
  margin-top: 1em;
}
.hosting, .hostingMostPopular {
  border-radius: 1.5em;
  padding: 1em;
  background-color: #F2F2F2;
}
.hostingRef {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Le titre*/
.hostingTitle {
  margin-left: 1em;
  font-weight: 800;
}
/*Les cartes*/
.hostingCard {
  width: 15em;
  height: 100%;
  box-sizing: border-box;
  border-radius: 1.25em;
  box-shadow: 0px 2px 8px 0px #00000020;
  margin-bottom: 2em;
  padding: 0.375em;
  text-decoration: none;
  background-color: #FFFFFF;
  cursor:pointer;
  transition-duration: 0.1s;
}
.hostingRef {
  margin-bottom: 1em;
}
.hostingCardFigure {
  margin: 0;
}
.hostingCard:hover {
  transform: scale(1.02);
}
.hostingCardFigureImg {
  width: 100%;
  max-width: 100%;
  height: 7em;
  max-height: 100%;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}
.hostingCardTitle {
  margin: 0.5em 0 0.5em 0.5em;
  font-size: 0.8em;
  font-weight: 800;
  color: black;
}
.hostingCardDescript {
  margin: 0 0 0.25em 0.5em;
  font-size: 0.7em;
  color: black;
}
.hostingCardStars {
  margin: 0 -0.3em 0 0.2em;
  color: #0065FC;
}
.hostingCardStarsFalse {
  margin: 0 -0.3em 0 0.2em;
  color:#F2F2F2;
}
.hostingViewmore {
  margin-left: 1.5em;
  text-decoration: none;
  font-weight: 800;
  color: black;
}
/*Adaptation responsive tablette*/

@media screen and (max-width: 1200px) {
  .hostingAside {
    display:flex;
    flex-direction: column-reverse;
    width:100%;
  }
  .hosting {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 2em;
  }
  .hostingCard {
    height: 12em;
    margin-right: 1em;
   
  }
  .hostingTitle {
    margin-left: 0;
  }
}
@media screen and (max-width: 565px) {
  .hostingCard {
    width: 95%;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 500px) {
  .hosting {
    position: relative;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #FFFFFF;
  }
  .hostingTitle {
    margin: 0.8em 0em 0.8em -1.4em;
  }
  .hostingRef {
    display: flex;
    flex-direction: column;
  }
  .hostingCard {
    width: 90%;
    margin: 0 0 0.8em 1.2em;
    
  }
  .hostingViewmore {
    position: absolute;
    position:bottom;
    bottom: -20px;
    left: -4px;
  }
  @media screen and (max-width: 350px) {
    .hostingTitle {
      margin: 0.8em 0em 0.8em 0em;
      font-size: 1.4em;
    }
}
/*Les plus populaires*/
.hostingMostPopular {
  display:flex;
  flex-direction: column;
}
.headerMostPopular {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 0.9em;
  margin-left: 0.9em;
}
.hostingMostPopularTitle{
  font-weight: 800;
}

/*Les cartes les plus populaire*/
.hostingCardMostPopular {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardMostPopular {
  width: 23em;
  padding: 0.3em;
  margin-bottom: 2em;
  border-radius: 1.25em;
  box-shadow: 10px 10px 10px -10px #0000002e;
  cursor:pointer;
  text-decoration: none;
  background-color: #FFFFFF;
  transition-duration: 0.1s; 
}
.cardMostPopular:hover {
  transform: scale(1.02);
}
.hostingCardMostPopularFigure {
  display:flex;
  width: 100%;
  height: 7em;
  margin: 0;
  font-size: 18px;
  word-wrap: break-word;
}
.hostingCardMostPopularFigureImg {
  min-width: 7em;
  max-height: 100%;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}
.hostingCardMostPopularFigureFigcaption {
 width: 100%;
 padding-right: 4em;
}
/*Le titre*/
.hostingCardMostPopularTitle {
  display: flex;
  margin: 0.5em 0 0.5em 1em;
  font-size: 0.8em;
  font-weight: 800;
  color: black;
}
.hostingCardMostPopularDescript {
  margin: 0 0 2.25em 1.2em;
  font-size: 0.7em;
  color: black;
}
.hostingCardMostPopularStars {
  margin: 2em -0.3em 0 1em;
  color: #0065FC;
}
.hostingCardMostPopularStarsFalse {
  margin: 0 -0.3em 0 0em;
  color: #F2F2F2;
}
/*Adaptation responsive tablette*/
@media screen and (max-width: 1235px){
  .hostingCardMostPopular {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cardMostPopular {
    width: 28em;
    margin: 1em;
  }
  .hostingCardMostPopularFigureImg {
    width: 33%;
  }
  .hostingCardMostPopularFigureFigcaption {
    width: 40%;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 500px) {
  .hostingMostPopular {
    border-radius: 0;
    margin-top: 1.5em;
    padding-bottom: 2em;
    align-items: center;
  }
  .cardMostPopular {
    margin: 0 0.1em 0.7em 0.2em;
  }
  .hostingCardMostPopular {
    width: 100%;
  }
  .hostingMostPopularTitle {
    margin: 1em 0 0.8em 0;
  }
  .iconMostPopular {
    margin-right: 0em;
  }
  .headerMostPopular {
    width:100%;
  }
   .hostingCardMostPopularFigureFigcaption {
     padding-right: 1em;
     width: 9em;
  }
  @media screen and (max-width: 350px) {
    .hostingCardMostPopularFigureFigcaption {
      padding-right: 0;
      width: 8em;
   }
   .hostingCardMostPopularFigureImg {
    max-width: 20%;
    }
  }
}
/*activités*/
.sectionActivity{
  max-width: 1440px;
  font-size: 15px;
}
.Activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.ActivityTitle{
  margin-top: 2em;
  margin-bottom: 0.8em;
  font-weight: 800;
}
/*Les cartes activités à Marseille*/
.ActivityCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 440px;
  margin-bottom: 1em;
  text-decoration: none; 
}
.ActivityCardFigure:hover {
  transform: scale(1.01);
}
.ActivityCardFigure {
  border-radius: 1em 1em 1em 1em;
  box-shadow: 10px 10px 10px -10px #0000002e;
  margin: 0 0 2.5em 0;
  background-color:#FFFFFF;
  transition-duration: 0.1s;
}
.ActivityCardFigureImg1 {
  border-radius: 1em 1em 0 0;
  width: 300px;
  height: 345px;
  object-fit: cover;
}
.ActivityCardFigureImg2 {
  border-radius: 1em 1em 0 0;
  width: 300px;
  height: 170px;
  object-fit: cover;
}
.ActivityCardFigureImg3 {
  border-radius: 1em 1em 0 0;
  width: 300px;
  height: 80px;
  object-fit: cover;
}
.ActivityCardFigureImg4{
  border-radius: 1em 1em 0 0;
  width: 300px;
  height: 345px;
  object-fit: cover;
}
.ActivityCardFigureImg5 {
  border-radius: 1em 1em 0 0;
  width: 300px;
  height: 130px;
  object-fit: cover;
}
.ActivityCardFigureImg6 {
  border-radius: 1em 1em 0 0;
  width: 300px;
  height: 120px;
  object-fit: cover;
}
.ActivityCardFigureFigcaption h3 {
  margin: 1em 0 0 1em;
  font-size: 1em;
  font-weight: 800;
  color: black;
}
/*Adaptation responsive tablette*/
@media screen and (max-width: 1300px) {
  .Activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ActivityTitle {
    display: flex;
    justify-content: center;
  }
  .ActivityCard {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }
}
@media screen and (max-width: 1030px) {
  .Activity {
    display: flex;
    flex-direction:column;
    align-items:  center;
  }
  .ActivityCard {
    display: flex;
    flex-direction: column;
    width: 50%;
    height:100%;
    margin-bottom: 0;
  }
  .ActivityCardFigure {
    height: 180px;
    margin: 0.6em;
  }
  .ActivityCardFigureImg1,
  .ActivityCardFigureImg2,
  .ActivityCardFigureImg3,
  .ActivityCardFigureImg4,
  .ActivityCardFigureImg5,
  .ActivityCardFigureImg6 {
    width: 100%;
    height: 125px;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 565px) {
  .sectionActivity {
    margin-top: 4em;
  }
  .ActivityTitle {
    margin-top: 1em;
    margin-left: -5.2em;
  }
  .ActivityCard {
    display: flex;
    flex-direction: column;
    width: 95%;
    height:100%;
    margin-bottom: 0;
    margin-left: 0.1em;
  }
  .ActivityCardFigure {
    height: 180px;
    margin-bottom: 1em;
  }
  .ActivityCardFigureImg1,
  .ActivityCardFigureImg2,
  .ActivityCardFigureImg3,
  .ActivityCardFigureImg4,
  .ActivityCardFigureImg5,
  .ActivityCardFigureImg6 {
    width: 100%;
    height: 125px;
  }
  @media screen and (max-width: 350px)  {
    .ActivityTitle {
      font-size: 1.4em;
      margin: 0.8em 0em 0.8em 0em;
    }
  }
}

/*footer*/
.footerFooter {
  display: flex;
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  background-color: #F2F2F2;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0 0 50px;
}
.footerColumnTitle {
  margin-top: -1em;
  margin-bottom: 0em;
  font-size: 1em;
  font-weight: 800;
}
.footerColumnlink {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
  cursor:pointer;
}
.footerList {
  padding: 0;
  list-style-type: none;
}
.footerListList {
  padding-bottom: 0.6em;
}
@media screen and (max-width: 520px) {
  .footerFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    padding-top: 2em;
    overflow: hidden;
  }
  .footerColumn {
    height: 100%;
    margin: 1.8em 0 0 2.25em;
  }
}
/* Adaptation responsive petit écrans*/
@media screen and (max-width: 500px) {
  .footerFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    margin-left: 0;
    padding-top: 2em;
    overflow: hidden;
  }
  .footerColumn {
    height: 100%;
    margin: 1.8em 0 0 2.25em;
  }
}