@font-face { /* Police Raleway */
    font-family: 'Raleway', Arial, serif; 
    src: url('fonts/Raleway-Black.ttf ');
    src: url('fonts/Raleway-Black.ttf') format('truetype'),
         
}
/* header */
.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  .headerImg {
    grid-area: logo;
    padding: 0 2em;
    height: 2.813em;
  }
  .headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
  }
  .headerNavLink {
    padding: 2em;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  .headerNavLink[data-active=true] {
    color: #0065FC;
  }
  .headerNavLink:hover {
    color: #0065FC;
  }
  .headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2em;
    color: #0065FC;
    font-weight: 600;
  }
  
  @media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }
    .headerNavLink[data-active=true] {
      border-top: 3px solid #0065FC;
    }
    .headerNavLink:hover {
      border-top: 3px solid #0065FC;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button";
    }
    .headerimg {
      order: 0;
    }
    .headerSignup {
      order: 1;
    }
    .headerNav {
      order: 2;
    }
    .headerNavLink {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerNavLink[data-active=true] {
      border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
      border-bottom-color: #0065FC;
    }
  }
  .main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2em;
    box-sizing: border-box;
  }
  