@font-face { /* Police Raleway */
    font-family: 'Raleway', Arial, serif; 
    src: url('fonts/Raleway-Regular.ttf');
    src: url('fonts/Raleway-Regular.ttf') format('truetype'),
         
}
body {
  font-family: 'Raleway', Arial, serif; 
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  max-height: auto;
}
.headerImg {
  margin-left: 2em;
}
.headerNavList {
  max-width: 300px;
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-between;  
}
.headerNavLink {
  padding: 1em;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px  transparent, solid;
  border-bottom: 3px  transparent, solid;
  text-decoration: none;  
}
.headerNavLink[data-active=true] {
  color: #0065FC;
}
.headerNavLink:hover {
  color: #0065FC;
  border-top: 3px  solid;
}
/*main*/
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.searchForm {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.searchForm {
  text-align: center;
}
.iconSearch {
  background-color: #F2F2F2;
  padding: 1em 1.25em;
  border-radius: 1em 0 0 1em;
  margin-left: 0.1em;
}
.searchinput {
  width: 60em;
}
.searchinput::placeholder {
  font-size: 1em;
  color: #00000069;
}
.Searchinput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5em;
  box-sizing: border-box;
  width: 200px;
  font-size: 1em;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.searchFormSubmitinput {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1em 1em 0;
  padding: 0 1.5em;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
}
/*Filtres*/
.searchFilters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.searchFiltersTitle {
  margin: 0.5em 2em 0 0;
}
.searchFiltersFilter {
  display: flex;
  align-items: center;
  margin-right: 2em;
  border: 2px solid #d9d9d9;
  border-radius: 2em;
  cursor:pointer;
  font-weight: bold;
  padding: 0 1em 0 0em;
  height: 3em ;
}
.searchFiltersFilter:last-child {
  margin-right: 0;
}
.IconFilter {
  color: blue;
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 2em;
  width: 1em;
  min-height: 3em;
  min-width: 3em;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5em 0 0;
}
.searchResult {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}
.searchResultIcon {
  color: #0065FC;
  border : solid 1px #d9d9d9;
  border-radius: 100%;
  margin: 0.3em 0.6em 0.3em 0.6em;
  }
  /*hébergements*/
.hostingAside {
  display: grid;
  column-gap: 2em;
  grid-template-columns: 6fr 3fr;
}
.hosting, .hostingMostPopular {
  background-color: #F2F2F2;
  border-radius: 1.5em;
  padding: 2em;
}
.hostingRef {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hostingHeader {
  
}
.hostingheadertitle {
  margin: 0;
}
.hostingCard {
  background-color: #FFFFFF;
  padding: 0.375em;
  border-radius: 1.25em;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor:pointer;
  box-sizing: border-box;
  height: 100%;
  max-width: 15em;
  max-height: 12em;
  text-decoration: none;
  margin: 0 0 2em 0;
}
.hostingCardFigure {
   margin: 0;
}
.hostingCard:hover {
  transform: scale(1.02)
}
.hostingCardFigureImg {
  height: 7em;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1em 1em 0 0;
}
.hostingCardTitle {
  color: black;
 font-size: 0.8em;
 margin: 0.5em 0 0.5em 0;
}
.hostingCardDescript {
  color: black;
 margin: 0 0 0.25em 0;
 font-size: 0.8em;
}
.hostingCardStars {
  color: #0065FC;
  margin: 0 -0.3em 0 0;
}
.hostingViewmore {
  color: black;
  font-weight: bold;
}

/*Les plus populaires*/
.hostingMostPopular {
 display: grid;
 row-gap: 2em;
 align-items: start;
 grid-template-rows: auto repeat(3, 1fr);
}
.headerMostPopular {
  display:flex;
  justify-content: space-between;
  margin: 0;
}
.hostingCardMostPopular {
  background-color: #FFFFFF;
  padding: 0.375em;
  border-radius: 1.25em;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor:pointer;
  box-sizing: border-box;
  height: 100%;
}
.hostingCardMostPopularFigure:hover {
  transform: scale(1.02)
}
.hostingCardMostPopularFigure {
  display: flex;
  position:relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
  margin: 0;
  overflow: auto;
}
.hostingCardMostPopularFigureImg {
  height: 7em;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1em 0 0 1em;
  position:absolute;
}
.hostingCardMostPopularTitle {
color: black;
display: flex;
justify-content: space-between;
font-size: 0.8em;
margin: 0.5em 0 0.5em 0;
}

.hostingCardMostPopularDescript {
color: black;
margin: 0 0 0.25em 0;
 font-size: 0.8em;
}
.hostingCardMostPopularStars {
color: #0065FC;
margin: 0 -0.3em 0 0;
}
/*activités*/
.Activity{
 display: flex;

 
}
h3 {
  grid-column: 1/-1;
}
.ActivityCard {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.ActivityCardFigure {
  position:relative;
  flex:1;
}
.ActivityCardFigureImg {
  border-radius: 1em 1em 0 0;
  position:absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footer {
  background-color: #F2F2F2;
  width: 100%;
  display: flex;
  margin: 1em;
  max-width: 1440px;
  max-height: auto;
}
.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2em;
  box-sizing: border-box;
}
.footerColumnTitle {
  margin: 0.5;
}
.footerColumnlink {
  color: black;
  text-decoration: none;
  padding: 0.5em 0 0 0;
  margin: 0;
}